:root{
    --primary: #cfb02c;
    --secondary: #344742;
    --footer: #293330;
    --white: #ffffff;
    --black: #000000;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width: 300px;
}
.logo img{
    width: 50%;
    height: auto;
    cursor: pointer;
}
.nav-links{
    display: flex;
    list-style: none;
    font-size: 20px;
    gap: 24px;
}
.nav-link{
    border-bottom: 1px solid var(--white);
}
.nav-link:hover{
    border-bottom: 1px solid var(--primary);
}
.nav-link a{
    text-decoration: none;
    color: var(--secondary);
}
.customer-section{
    display: flex;
    width: 25%;
    gap: 24px;
}
.cart{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 25px;
}
.btn{
    border-radius: 24px;
    background-color: var(--primary);
    border: none;
    padding: 14px;
    text-transform: uppercase;
    color: var(--white);
    font-family: Roboto, Arial, "sans-serif";
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}
.btn:hover{
    background-color: var(--secondary);
}
.burger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}
@media (max-width: 1160px){
    .nav-links{
        display: none;
    }
    .burger-menu {
        display: block;
    }
}

.intro-container{
    text-align: center;
    margin: 60px auto 0;
}
.intro-container h2{
    font-size: 48px;
    font-weight: bolder;
    font-family: "Inter Semi Bold", sans-serif;
}
.intro-container p{
    font-size: 20px;
}
.intro-container select{
    position: relative;
    margin-top: 10px;
    right: 20%;
    padding: 10px 8px;
    font-size: 18px;
    border-radius: 3px;
    width: 250px;
    height: auto;
}
.products{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 50px 0;
}
.product{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 30%;
    box-sizing: border-box;
    margin: 60px auto 0;
}
.product img{
    height: 370px;
    cursor: pointer;
}
.product h3{
    color: var(--secondary);
}
.old-price{
    font-weight: normal;
    font-size: 16px;
    text-decoration: line-through;
    color: var(--black);
}
.product button{
    background: transparent;
    padding: 10px 30px;
    border: solid 2px var(--primary);
    border-radius: 24px 0;
}
.product button:hover{
    background-color: var(--primary);
    color: var(--white);
}
@media (max-width: 1024px){
    .product {
        flex: 1 1 45%;
    }
}
@media (max-width: 768px){
    .product {
        flex: 1 1 100%;
    }
}

.form{
    background: var(--secondary);
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    color: var(--white);
}
.form img{
    width: 330px;
}
.form-text{
    position: relative;
    bottom: 10%;
}
.form-text h2{
    font-size: 36px;
}
.form-text p{
    font-size: 18px;
    margin-top: 18px;
    font-weight: lighter;
    width: 50%;
}
.form-text h3{
    margin-top: 18px;
    font-weight: normal;
    font-size: 18px;
}
.form-text span{
    border-bottom: solid 1px var(--white);
}
.form-text input{
    padding: 10px 12px;
    border-radius: 24px;
    font-size: 16px;
    height: 30px;
    width: 100%;
    border: none;
}
.form-user-section{
    width: 100%;
    gap: 50px;
    display: flex;
}
.form-text button{
    border: none;
    color: var(--white);
    font-weight: bold;
    background-color: var(--primary);
    border-radius: 24px;
    padding: 16px 62px;
    font-size: 16px;
}
.form-text button:hover{
    background-color: var(--footer);
}
@media (max-width: 1024px){
    .form{
        flex-direction: column;
        height: 950px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .form img{
        margin-top: 50px;
    }
    .form-text p{
        position: relative;
        transform: translate(50%);
    }
    .form-user-section{
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
    .form-user-section input{
        width: 50%;
    }
    .form-user-section button{
        width: 50%;
        position: relative;
        transform: translate(50%);
    }
}

footer{
    background-color: var(--footer);
    color: var(--primary);
    display: flex;
    justify-content: center;
    gap: 100px;
    height: 400px;
}
footer h2{
    color: var(--white);
}
footer h3{
    font-weight: normal;
    cursor: pointer;
}
footer h3:hover{
    color: #ac9222;
}
.underline:hover{
    text-decoration: underline;
}
.footer-logo{
    width: 80px;
}
.social-media{
    width: 10%;
    margin-top: 50px;
}
.footer-logo img{
    color: var(--white);
    width: 200%;
    height: auto;
    cursor: pointer;
}
footer i{
    cursor: pointer;
}
.quick-links{
    margin-top: 20px;
}
.our-services{
    margin-top: 20px;
}
.footer-form{
    margin-top: 20px;
}
.footer-form h3{
    color: var(--white);
    font-size: 16px;
    margin-bottom: 0;
}
.footer-form h3:hover{
    color: var(--white);
}
.footer-form input{
    padding: 10px 12px;
    border-radius: 24px;
    font-size: 16px;
    height: 30px;
    width: 250px;
    border: none;
    margin-bottom: 10px;
}
.footer-form button{
    border: none;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 24px;
    padding: 10px 62px;
    font-size: 16px;
    width: 270px;
    height: 45px;
    cursor: pointer;
}
.footer-form button:hover{
    background-color: var(--secondary);
}
@media (max-width: 1024px){
    footer{
        height: 1000px;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        gap: 20px;
    }
    .social-media{
        margin-top: 15px;
        position: relative;
        right: 3%;
        margin-left: 100px;
    }
    .quick-links{
        margin-left: 75px;
    }
    .our-services{
        margin-left: 75px;
    }
    .footer-form{
        margin-left: 75px;
    }
    .footer-form input{
        width: 50%;
    }
    .footer-form button{
        width: 53%;
    }
    .footer-form h3{
        text-align: left;
    }
}
@media (max-width: 768px){
    .footer-form button{
        width: 55%;
    }
}
